.trailer{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  rgba(54, 54, 54, 1);
    z-index: 10;
    color:rgb(255, 255, 255);
    align-items: center;
}

.trailer-head{
    font-size: 30px;
    font-weight: bold;
}

.trailer-other{
    font-size: 20px;
}

.trailer-other a{
    color: inherit;
}

.trailer-block{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;

}

.image-social{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.trailer-block-block{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
